astroid==2.5.3
colorama==0.4.4
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
numpy==1.20.2
opencv-python==4.5.1.48
Pillow==8.2.0
pip==21.0.1
pylint==2.7.4
pyzmq==22.0.3
setuptools==47.1.0
toml==0.10.2
typed-ast==1.4.3
wrapt==1.12.1
zmq==0.0.0
keyboard==0.13.5
pygame==2.1.2
